* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(37, 7, 67), rgb(114, 13, 111));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 45px;
    font-weight: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
    color: #fff;
    text-shadow: 4px 4px #000;
}

.hero h1 span {
    color: red;
}

textarea {
    width: 600px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder {
    font-size: 16px;
    color: #fff;
    opacity: 200%;
}

.row {
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px
}

button {
    background: #ff2976;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img {
    width: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #ff2963;
}

select {
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px
}


/* Responsive Small devices (phones) */

@media only screen and (max-width: 600px) {
    .hero h1 {
        font-size: 30px;
    }

    textarea {
        width: 100%;
        height: 150px;
        font-size: 14px;
    }

    .row {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    select {
        width: 100%;
        margin-top: 10px;
        background-size: 12px;
        background-position-x: calc(100% - 15px);
        background-position-y: 18px;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    button img {
        width: 14px;
    }
}

img {
    max-width: 100%;
    height: auto;
}

